# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PRICE_BASIC=
NEXT_PUBLIC_STRIPE_PRICE_PRO=
NEXT_PUBLIC_STRIPE_PRICE_BASIC_ANUAL=
NEXT_PUBLIC_STRIPE_PRICE_PRO_ANUAL=

# Resend
RESEND_API_KEY=

# Cron (genera un string aleatorio seguro, ej: openssl rand -base64 32)
CRON_SECRET=

# App
NEXT_PUBLIC_APP_URL=https://tudominio.vercel.app
